@import 'vars'
@import 'fonts'
@import 'reset'
@import 'libs'
@import 'global'
@import 'mixin'

//header
.header
    &-top
        padding: 20px 0
        background-color: $dark
        color: #fff
    &__inner
        align-items: center
        justify-content: space-between
    &-links
        display: flex
        align-items: center

    &-links__item
        &:not(:last-child)
            margin-right: 60px
    &-phone
        align-items: center
        display: flex
        svg
            margin-right: 10px

    &-bottom
        padding: 40px 0 0
        position: fixed
        top: 64px
        right: 0
        left: 0
        width: 100%
        transition: all .3s
        li a
            color: $primary
    &-logo
        width: 254px
        height: 74px
        img
            width: 80%
            height: 100%

.header-bottom.scroll
    top: 0
    padding-top: 10px
    padding-bottom: 10px
    background-color: #fff
    z-index: 10
    border-bottom: 1px solid rgba($secondary, 0.8)
    .header-logo
        width: 204px
        height: 44px
    .header-links
        font-size: 16px
        line-height: 22px
    .header__cart
        padding: 15px 20px
        font-size: 16px
        line-height: 22px

//banner
.banner
    position: relative
    margin-top: 214px
    padding-bottom: 190px
    &__inner
        max-width: 947px
        width: 100%
    &__heading
        font-family: "conthrax"
        margin-bottom: 20px
        span
            color: $primary
    &__text
        margin-bottom: 3.1vw
        font-size: 1.45vw
        line-height: 1.8vw
        width: 275px
    &-img
        position: absolute
        right: 0
        bottom: 0

//main-catalog
.catalog-tabs
    &__inner
        align-items: center
    &__title
        margin-right: 30px

.tabs
    border-radius: 40px
    background-color: $primary
    padding: 5px

.tab
    position: relative
    color: #fff
    cursor: pointer
    transition: all .3s
    &.active
        background-color: #fff
        color: $dark
        z-index: 3

.tab-item
    display: none
    grid-column-gap: 30px
    grid-row-gap: 30px
    grid-template-columns: repeat(4, 1fr)
    &.active-tab
        display: grid

.main-catalog-item

    transition: all .3s
    &:hover
        padding: 5px 5px 0px 5px
        background-color: $secondary
        box-shadow: 0px 10px 40px -10px rgba(33, 111, 181, 0.05)
        color: #fff
    &__img
        border-radius: 35px
        width: 360px
        height: 270px
    &__title
        padding: 21px 0 60px 40px

// manufactures
.manufactures
    padding: 60px 0
    background-color: #ECF2FC
    &__inner
        align-items: center
        justify-content: space-between
    &-item
        font-family: "conthrax"
        letter-spacing: 0.03em
        text-transform: uppercase
        color: #C1D5F5

// specials
.specials

    &__inner
        align-items: flex-start
        justify-content: space-between
    &-content
        max-width: 480px
        width: 100%

    &__text
        margin-bottom: 60px
    &-slider
        width: 880px
    &-slider-btn
        position: absolute
        right: 40px
        bottom: 174px
        border-radius: 50%
        width: 44px
        height: 44px
        padding: 18px
        @include centerFlex
        transition: all .3s
        &:active
            transform: translateY(3px)
    .slick-prev
        right: 100px
        z-index: 1

.specials-item
    &__content
        padding: 20px 40px 40px
    &__img
        width: 880px
        height: 580px
        img
            width: 100%
            height: 100%
    &__price
        margin-bottom: 40px

// delivery-steps
.delivery-steps
    &__title
        max-width: 893px
        width: 100%
    &__items
        position: relative
        justify-content: space-between
        align-items: flex-start
    &-line
        position: absolute
        top: 50px
        left: 0
        right: 0
        margin: 0 auto
        width: 100%
        z-index: -1

.delivery-steps-item
    width: 20%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__img
    &__title
        text-align: center
        max-width: 230px
        width: 100%

// advantages
.advantages

    &__inner
        align-items: flex-start
        justify-content: space-between
    &-items
        display: grid
        grid-column-gap: 30px
        grid-row-gap: 30px
        grid-template-columns: repeat(2, 1fr)
    &-content
        max-width: 620px
        width: 100%
    &__text
        margin-bottom: 60px

.advantages-item
    padding: 40px 50px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__icon
        margin-bottom: 10px
    &__title
        width: 260px
        text-align: center
        color: $primary

// question-feedback
.question-feedback
    &__inner
        justify-content: space-between
        align-items: center
    &__content
        max-width: 352px
        width: 100%
    &__text
        color: $primary
    &-form
        background-color: $secondary
        padding: 50px
        box-shadow: 0px 10px 40px -10px rgba(33, 111, 181, 0.05)
        border-radius: 40px
    &-form__title
        color: #fff

    &-form__input
        background-color: #C1D5F5
        border-radius: 32px
        margin-right: 20px
        color: #132642
        padding: 20px 30px
        font-size: 18px
        line-height: 24px
        &::placeholder
            color: #132642

.footer
    background-color: $secondary
    &__inner
        padding: 100px 0
        justify-content: space-between
        color: #fff
    &__logo
        width: 254px
        height: 74px
    &-item:not(:last-child)
        margin-bottom: 20px
    &-contacts
        display: flex
        flex-direction: column
    &-contacts__link
        display: flex
        align-items: center
        &:not(:last-child)
            margin-bottom: 20px
        svg
            margin-right: 10px

@import 'media'
